<div class="top">
  <h1>ようこそ！Workout_appへ！</h1>
</div>
<div class="container">
  <ul> 
    <% @posts.each do |post|%>
      <li><%= link_to post.title, post %></li>
    <% end %>
  </ul>

  <%= paginate @posts %>
</div>