<h1>ようこそ！Workout_appへ！</h1>
<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
<ul>
  <% @user.each do |user|%>
    <li><%= user.id %> : <%= user.name %> <%= user.email %></li>
  <% end %>
</ul>
<% end %>
