<%= stylesheet_link_tag 'toppages' %>
<div class="top">
  <h1>ようこそ！Health Meterへ！</h1>
</div>
<div class="container">
  <ul> 
    <% @posts.each do |post|%>
      <li><%= link_to post.title, post %><%= post.id %></li>
    <% end %>
  </ul>

  <%= paginate @posts %>
</div>