// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.video-wrapper{
  border-width: 2px 0 0 0;
  border-style: dotted;
}

.video-container{
    position: relative;
    padding-top: 56.25%;
    margin: 0px auto;
    display: block;
    width:100%;
    margin-top:10px;
}

.video-content{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-title{
  text-align: center;
  border-width: 3px 0 0 0;
	border-style: solid;
	margin-top: 20px;
}

h1,h3 {
  margin-top:10px ;
}
.card-user-name{
  border-width: 3px 0 0 0;
	border-style: double;
}

.card-content{
  border-width: 2px 0 0 0;
	border-style: dotted;
}

.card-note {
  border-width: 2px 0 0px 0;
	border-style: dotted;
}

.prof-name{
  margin-top: 40px;
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// .delete-btn{
//   margin-left: 20px;
//   margin-top: 30px;
//   height: 40px;
// }

.buttons{
  display:flex;  
  margin-top: 10px;
    .follow-btn{
      margin-right: 10px;
  }
}

.btn-outline-danger{
  margin-left: 15px;
}

.favbutton{
  width:120px;
  margin-left: 10px;
}

.comment{
  margin-left:20px;
}
